
.flex-container {
  background-color: white;
  color: #301919;
  display: flex;
  flex-direction: column;
} */

.item1 {
  order: 1;
  flex: 1;
  align-content: stretch;
}

.item2 {
  order: 2;
  flex: 1;
}


