.App {
  background-color: #301919;
  color: white;
  position: absolute;
  height: 100% !important;
  width: 100% !important
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #301919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  background-color: white;
  color: #301919;
  display: flex;
  flex-direction: column;
}

.item1 {
  order: 1;
  flex: 1;
  align-content: stretch;
}

.item2 {
  order: 2;
  flex: 1;
}
